In [4]:
import pandas as pd

In [14]:
bbb = pd.read_table('bbb.csv', low_memory=False, sep = ',', usecols = [22,23])

In [ ]:
# EDA

In [15]:
print(bbb.head)

<bound method NDFrame.head of         total_runs  is_wicket
0                0          0
1                4          0
2                0          0
3                0          1
4                0          0
...            ...        ...
812810           0          0
812811           4          0
812812           4          0
812813           1          0
812814           1          0

[812815 rows x 2 columns]>

In [19]:
df = pd.DataFrame(bbb)

In [24]:
table = pd.pivot_table(df, index=['total_runs','is_wicket'], columns=['total_runs','is_wicket'], values=['total_runs','is_wicket'], aggfunc='sum')
table

Empty DataFrame
Columns: []
Index: [(0, 0), (0, 1), (1, 0), (1, 1), (2, 0), (2, 1), (3, 0), (3, 1), (4, 0), (4, 1), (5, 0), (5, 1), (6, 0), (6, 1), (7, 0), (8, 0)]